/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * For more information see:
 *   https://sailsjs.com/anatomy/assets/styles/importer-less
 */

// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'styleguide.less';
// @import 'pages/login.less';
// @import 'pages/signup.less';
//
// etc.

/*! This special bang (!) comment is here to trick the `hash` Grunt task into working out-of-the-box, without any real CSS. You can delete this once you've imported ≥1 .less file as demonstrated above. */

@import "reset.scss";

.product-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input,
  textarea {
    margin-top: 15px;
    height: 40px;
    width: 500px;
    padding-left: 10px;
    font-size: large;
  }
  textarea {
    padding-top: 10px;
  }
  input[type="submit"] {
    width: 100px;
    background: rgba(4, 36, 41, 0.89);
    outline: none;
    border-radius: 5px;
    color: aliceblue;
    border: 1px solid rgba(4, 36, 41, 0.89);
    cursor: pointer;
  }
  .submit-btn {
    text-align: center;
  }
}

.product_wrapper {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 30px;
  .product_list {
    flex: 0 0 30%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {
      width: 300px;
      height: 200px;
    }
    .p_name,
    .p_price,
    .p_info {
      margin-top: 10px;
      font-size: 20px;
      padding-left: 15px;
    }
    .p_name {
      text-transform: capitalize;
    }
    .cart-btn {
      text-align: center;
      margin-bottom: 20px;
      input[type="submit"] {
        height: 45px;
        width: 100px;
        background: rgba(4, 36, 41, 0.89);
        outline: none;
        border-radius: 5px;
        color: aliceblue;
        border: 1px solid rgba(4, 36, 41, 0.89);
        cursor: pointer;
        font-size: 15px;
      }
      .qty-wrapper {
        margin-top: 10px;
        margin-bottom: 15px;
        text-align: left !important;
        padding-left: 15px;
        font-size: 20px;
      }
      input[type='number'] {
        width: 50px;
        height: 30px;
        padding-left: 10px;
      }
    }
  }
}

.search-wrapper {
  margin-bottom: 40px;
  input[type="submit"] {
    height: 45px;
    width: 90px;
    background: rgba(4, 36, 41, 0.89);
    outline: none;
    color: aliceblue;
    border: 1px solid rgba(4, 36, 41, 0.89);
    cursor: pointer;
    font-size: 15px;
    margin-left: -4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  input[type="search"] {
    height: 45px;
    width: 300px;
    padding-left: 10px;
    font-size: large;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.6);
  }
}

.cart-wrapper {
  margin-top: 10px;
  font-size: 20px;
  padding-left: 15px;
  margin-bottom: 20px;
}
