<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->

<!-- <script type="text/javascript">
setTimeout(function sunrise () {
  document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script> -->

<div class="">
  <div class="header" style="transition: none; padding: 30px 30px 40px 0; display: flex; justify-content: space-between;">
    <a href='/' class="text-center" style="color: aliceblue; text-decoration: none; padding-left: 30px; font-size: large;">E-COM</a>
    <div>
      <a href="/create" style="font-weight: 300; text-decoration: underline; color: aliceblue; text-decoration: none; font-size: large;padding-right: 30px;">Create Product</a>
      <a href="/cart" style="font-weight: 300; text-decoration: underline; color: aliceblue; text-decoration: none; font-size: large;">CART</a>
    </div>
  </div>
  <div class="main container">
    <div class="container">
      <% if(products != null && products.length > 0){ %>
        <div class="row">
          <div class="product_wrapper">
            <% products.forEach(product => { %>
              <div class="product_list">
                <% product.images.forEach(image => { %>
                  <img src=<%= image %> alt="" srcset="">
                <% }) %>
                <div class="p_name"><span>Name- </span><span><%= product.name %></span></div>
                <div class="p_price"><span>Price- </span><span><%= product.price %></span></div>
                <div class="p_info"><span>Info- </span><span><%= product.des %></span></div>
                <div class="cart-btn">
                  <input type="button" value="Add to cart">
                </div>
              </div>
            <%  }); %>
          </div>
        </div>

      <% }else{ %>
        <div>0 products found :)</div>
      <% } %>      
      </div>
  </div>
</div>
